:host {
  display: block;
  box-sizing: border-box;
  max-width: 100%;
  width: 100%;
  padding: 16px 24px 16px 16px;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.14) 0px 3px 3px 0px, rgba(0, 0, 0, 0.12) 0px 3px 4px 0px, rgba(0, 0, 0, 0.2) 3px 1px 8px 0px;
}
h3 {
  font-size: 18px;
  margin-top: 0px;
  margin-bottom: 8px;
  color: var(--app-primary-color);
}
.inner-text {
  font-size: 14px;
}
a.footer-link {
  display: block;
  background: transparent;
  font-weight: bold;
  border: none;
  color: var(--app-grey-color-3);
  cursor: pointer;
  font-size: 14px;
  margin-top: 8px;
  outline: none;
  padding: 0px;
  text-decoration: underline;
}
